<h1>Enter a Question: </h1>
<form>
  <div class="form-group">
    <label for="user">Your name:</label>
    {{input value=user id="user" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="teaser">Your question in a sentence:</label>
    {{input value=teaser id="teaser" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="body">Full explanation, please!</label>
    {{textarea value=body id="body" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="link">Link to relevant code? (optional)</label>
    {{input value=link id="link" class="form-control"}}
  </div>
  <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
</form>
