<h3>{{model.teaser}}</h3>
<h4>By <b>{{model.user}}</b></h4>
<p>{{model.body}}</p>

{{#each model.answers as |answer|}}
  {{answer-view answer=answer destroyAnswer="destroyAnswer"}}
{{/each}}

{{answer-form saveAnswer="saveAnswer" question=model}}

{{question-update question=model updateQuestion="updateQuestion"}}
<br>
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete Question</button>


